<form action="/cart" method="post">
    <button class="btn" type="submit">Add To Cart</button>
    <!-- wich product to be added in post  -->
    <input type="hidden" name="productId" value="<%= product.id%>">
</form>